---
import BlogLayout from '@/layouts/BlogLayout.astro';
import Logged from '@/components/Logged.astro';
const user = Astro.locals.user;
if (!user) {
  return Astro.redirect('/signin');
}
import { getAllCategories, normalizeCategory } from '@/utils/getAllCategories';
const categories = await getAllCategories();
---

<BlogLayout title="Categorías">
  <Fragment slot="user">
    {user && <Logged user={user} />}
  </Fragment>
  <div class="min-h-full dark:text-white dark:bg-gray-900">
    <section class="bg-gray-100 dark:bg-gray-900 py-8">
      <div class="max-w-screen-xl mx-auto px-4">
        <h2 class="text-2xl font-semibold text-gray-800 dark:text-white mb-6">
          Categorías del Blog
        </h2>

        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
          {
            categories.map((category) => (
              <a
                href={`/blog/category/${normalizeCategory(category)}`}
                class="bg-blue-500 hover:bg-blue-600 text-white text-center py-3 px-6 rounded-lg transition-colors"
              >
                {category}
              </a>
            ))
          }
        </div>
      </div>
    </section>
  </div>
</BlogLayout>
