---

---

<!-- <div
  class="prose dark:prose-invert max-w-6xl mx-auto
  prose-h1:font-bold prose-h1:text-xl prose-h1:text-red-500
  prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl
  prose-headings:underline font-merri"
> -->
<div
  class="prose dark:prose-invert max-w-6xl mx-auto
    prose-h1:text-xl prose-h1:font-bold
    prose-h2:text-base prose-h2:mt-8 prose-h2:mb-2
    prose-h3:text-base prose-h3:mt-6 prose-h3:mb-2
    prose-h4:text-sm prose-h4:mt-4 prose-h4:mb-2
    prose-h5:text-sm prose-h5:italic prose-h5:mt-4 prose-h5:mb-2
    prose-p:text-justify prose-p:my-2 prose-p:indent-5 prose-p-first:indent-0 leading-snug
    prose-img:w-[65%] prose-img:mx-auto prose-img:rounded-lg
    prose-table:border-collapse prose-table:table-auto prose-table:text-center prose-table:border-b prose-table:border-t prose-table:border-gray-900 dark:prose-table:border-gray-200
     prose-table:max-w-4xl prose-table:mx-auto prose-table:my-0
    prose-thead:border-b
    prose-th:px-2 prose-th:py-1 prose-th:font-semibold prose-th:border-gray-900 dark:prose-th:border-gray-200 prose-th:border-b
    prose-td:px-2 prose-td:py-1 prose-td:border-none prose-td:font-normal
    prose-tr:border-0
    prose-a:text-blue-600 prose-a:no-underline hover:prose-a:underline
    prose-strong:text-bold prose-blockquote:pl-4 prose-blockquote:border-l-4 prose-blockquote:border-blue-500
    font-merri"
>
  <slot />
</div>
