<div class="min-h-full dark:text-white dark:bg-gray-900">
  <div class="max-w-3xl mx-auto w-full dark:text-white dark:bg-gray-900">
    <slot name="filter" />
    <section class="mt-6 w-full">
      <ul class="space-y-8">
        <slot />
      </ul>
    </section>
  </div>
</div>
